<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>
    {% if user.is_authenticated %}
    <h1>Welcome to the Main Page!</h1>
    
    
    <button><a href="{% url 'signup:mypage' %}">mypage</a></button>

    <!-- 로그아웃 링크 -->
    <button><a href="{% url 'signup:logout' %}">logout</a></button>
    
    <button><a href="{% url 'signup:todolist' %}">to-do list</a></button>


    {% endif %}

</body>
</html>